/* 
Media Player
--player-icon-focus: #D3D4D8;   - dark purple
--player-button-font: #FBC660;  - orange
--player-button-bg: #FCDD9C;    - light orange
--player-volume-icon: #FBC660;  - orange  
--player-volume-bar: #FBC660;   - orange 
*/         
