/* Sign In Page */
.sign-in-form-container {
    text-align: left;
}

.sign-in-form-container form {
    margin: 20px 0;
}

.lightMode .topNavLogo span:hover .topNavLogo span:active .topNavLogo span:focus .topNavLogo span:link .topNavLogo span:visited {
    color: #000;
}

.darkMode .topNavLogo span:hover .topNavLogo span:active .topNavLogo span:focus .topNavLogo span:link .topNavLogo span:visited {
    color: #fff;
}