* {box-sizing: border-box}

#imageUpload { opacity: 0; }

#imageUploadBtn { 
  background-color: #e3e3e3;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 200px;
  width: 200px;
  text-align: center;
  box-shadow: 3px 3px #d0d0d0;
  padding: 2px;
}

#imageUploadBtn:hover {  
  background-color: #dbdbdb;
}

/* Full-width input fields */
.mediaContainer input[type=text], 
.mediaContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.mediaContainer input[type=text]:focus, 
.mediaContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.mediaContainer hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.mediaContainer button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.mediaContainer button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.mediaContainer .cancelbtn {
  padding: 14px 20px;
  background-color: orange;
  color: black;
}

/* Float cancel and signup buttons and add an equal width */
.mediaContainer .cancelbtn, 
.mediaContainer .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.mediaContainer  {
  padding: 16px;
}

.mediaContainer label {
    display: block;
    margin-bottom: 20px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .mediaContainer .cancelbtn, 
    .mediaContainer .signupbtn {
    width: 100%;
  }
}