body {
  padding: 50px;
  font: 14px 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #f9fbff;
}

header {  margin: 0 auto 3em; }

li {  list-style-type: none; }


/* Notes Page */
  .clickable:hover { background-color: aliceblue; }

  .hideNotePad {
    display: none;
  }

  .hideTimestampText {
    visibility: hidden;
  }

  .tooltip .tooltiptext {
    /* Tooltip text */
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute; /* Position the tooltip text */
    z-index: 1;
  }

  .tooltip:hover .tooltiptext { visibility: visible; }


/* Top Navigation */
  .loggedOut { display: flex; align-items: center; justify-content: center; }

  .loggedIn { display: flex; }

  .topBarSections { flex: 1; }

  .topBarRightAlign { text-align: right; }

  .displayInline { display: inline; }

  .imgMiddleAlign { vertical-align: middle; }

  .topBarLogo span { padding-left: 20px; font-family: 'Nunito', sans-serif; }

  .hideOption { visibility: hidden; display: none; }

  .rightSection { margin-right: 20px; }

/* Contact Icon */
  .contactIcon {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 15px solid #fec865;
    background-color: #fec865;
  }
