/* 
Left Side Navigation
--side-nav-font-color: #B0B5D2; - light purple
--side-nav-icon: #8185C4;       - mid purple 
*/

.adsBlackBorder { 
    border: 1px solid black; 
}

.sideMenuCont { 
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 1px solid grey;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sideMenuCont a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
.sideMenuCont a:hover {
    color: #f1f1f1;
}
  
@media screen and (max-height: 450px) {
    .sideMenuCont {padding-top: 15px;}
    .sideMenuCont a {font-size: 18px;}
}
