/* Top Navigation */
.signedOut,
.topNav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signedIn {
    display: flex;
}

.topNavSection {
    flex: 1 1 33%;
}

.topNavRightAlign {
    text-align: right;
}

.displayInline {
    display: inline;
}

.imgMiddleAlign {
    vertical-align: middle;
}

.topNavLogo span {
    padding-left: 20px;
    font-family: 'Nunito', sans-serif;
}

.hideOption {
    visibility: hidden;
    display: none;
}

.rightSection {
    margin-right: 20px;
}